<div id="user-profile-statistic-wrapper">
  <p class="title">
    User profile statistic
  </p>

  <div class="row center-xs">
    
    <!--  Period start  -->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <md-input-container>
        <input mdInput 
              [mdDatepicker]="pickerStart" 
              [(ngModel)]="dateStart"
              placeholder="Choose a start date">
        <button mdSuffix [mdDatepickerToggle]="pickerStart"></button>
      </md-input-container>
      <md-datepicker  #pickerStart></md-datepicker>
    </div>

    <!--  Period end  -->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <md-input-container>
        <input mdInput 
              [mdDatepicker]="pickerEnd" 
              [(ngModel)]="dateEnd"
              placeholder="Choose a end date">
        <button mdSuffix [mdDatepickerToggle]="pickerEnd"></button>
      </md-input-container>
      <md-datepicker  #pickerEnd></md-datepicker>
    </div>

    <!--  Period end  -->
    <div class="col-xs-12 col-sm-4 col-md-4">
      Group
    </div>

  </div>
</div>