<main class="container-fluid">

  <!-- Toolbar  -->
  <div class="row">
    <div class="col-xs-12 toolbar-wrapper">
      <md-toolbar color="primary">
        
        <div class="home-button">
          <button md-icon-button (click)="routeToHome()">
          <md-icon>home</md-icon>
        </button>
        </div>

        <!--Logo title application  -->
        <div class="logo-title">
          <span>{{title}}</span>
        </div>

        <span class="toolbar-spacer"></span>

        <!-- Go to profile button -->
        <div class="go-to-profile-button">
          <button  md-icon-button (click)="routeToProfile()">
          <md-icon>assignment_ind</md-icon>
        </button>
        </div>
        
      </md-toolbar>
    </div>
  </div>


  <!-- Navigation tab bar  -->
  <!-- <div class="row">
    <div class="col-xs">
      <nav md-tab-nav-bar>
        <a md-tab-link
          *ngFor="let navRoute of navRoutes"
          [routerLink]="navRoute.path"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [active]="rla.isActive">
          {{navRoute.label}}
        </a>
      </nav>
    </div>
  </div> -->

  <!--  Page Content  -->
  <div class="row">
    <div class="col-xs">
      <router-outlet></router-outlet>
    </div>
  </div>

</main>