#statistic-grouping-wrapper form { padding-top: 0px }
#statistic-grouping-wrapper md-select { width: 100%; text-align: left }

#statistic-go-button-wrapper { padding-top: 8px; }
#statistic-go-button-wrapper button { width: 100%; }

.user-statistic { margin-top: 16px; }
.user-statistic .mat-select { margin: 0px 0px 20px }

.user-statistic__datepicker .mat-input-container { width: 100%; }

.user-statistic__table { margin-top: 8px; }