<div id="user-profile-statistic-wrapper">

  <div id="statistic-filters-wrapper">
    <div class="row center-xs">
      <div class="col-xs-12">
        <p class="title">
          User profile statistic
        </p>
      </div>
    </div>
    
    <div class="row">
      <!--  Period start  -->
      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- datepicker  -->
        <datepicker placeholder="Choose a date start"></datepicker>
      </div>

      <!--  Period end  -->
      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- datepicker -->
        <datepicker placeholder="Choose a date end"></datepicker>
      </div>

      <!--  Period end  -->
      <div class="col-xs-12 col-sm-3 col-md-3" id="statistic-grouping-wrapper">
        <form>
          <md-select placeholder="Grouping" [(ngModel)]="selectedValue" name="source">
            <md-option *ngFor="let source of sources" [value]="source.value">
              {{source.viewValue}}
            </md-option>
          </md-select>
        </form>
      </div>

      <!--  Button go  -->
      <div class="col-xs-12 col-sm-3 col-md-3" id="statistic-go-button-wrapper">
        <button md-raised-button color="accent">LET'S GO!</button>
      </div>


    </div> 
    <!-- /.row  -->

  <div class="row">
    <div class="col-xs-12">
      
      <statistic-table></statistic-table>

    </div>
  </div>
  </div>
</div>